#upload-btn a {
    font-family: 'Lato';
    color: #fff;
    background: #FF7500;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    padding: 12px 32px;
    font-size: 16px;
    display: inline-block;
    margin: 2em auto;

    @media(max-width: $w-800) {
        width: 90%;
        box-sizing: border-box;
    }
}
